body {
	color: #222;
	background: #fff;
}

.btn-darkmode {
	position: absolute;
	z-index: 100;
	top: 1em;
	right: 1em;
	color: var(--foreground);
	border: 2px solid currentColor;
	padding: 4px;
	background: transparent;
	cursor: pointer;
	border-radius: 5px;
	width: 30px;
	height: 30px;
}

h2 {
	font-size: 2.5rem;
	margin: 1.5rem 3rem;
}
.selection {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 10rem;
	padding: 1.5rem 5rem;
}

.selection:hover {
	transform: scale(1.2);
	transition-duration: 0.1s;
}

h3 {
	padding: 0;
	margin: 0;
	display: inline;
}

#select {
	font-size: 2rem;
}

select {
	margin-left: 0.5rem;
}

#reset {
	display: inline-flex;
	font-size: 2rem;
	padding: 0.3rem;
}
#resetDiv {
	display: flex;
	margin: 2rem;
}

.results {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	align-items: center;
	font-size: 3rem;
}

.score {
	margin-left: 0.1rem;
	font-size: 3rem;
}

.result-selection {
	opacity: 1;
	font-size: 1.75em;
}

.result-selection.winner {
	opacity: 1;
	font-size: 2em;
	color: green;
}

.result-selection.loser {
	color: red;
}

.center-class {
	display: flex;
	justify-content: center;
}

@media (min-width: 320px) {
	body {
		line-height: 1.3;
	}

	h1.center-class {
		display: none;
	}

	h2 {
		font-size: 1.75rem;
		margin: 0.75rem 2rem;
	}
	#select {
		font-size: 1.5rem;
	}

	#resetDiv {
		margin: 1rem;
	}

	.selection {
		font-size: 4rem;
		padding: 0 1.5rem;
	}

	.score {
		font-size: 2rem;
	}

	.results {
		font-size: 1.5rem;
	}

	#reset {
		font-size: 1.5rem;
	}
}

@media (min-width: 480px) {
	body {
		line-height: 1.4;
	}
	h2 {
		font-size: 2rem;
	}
	#select {
		font-size: 1.75rem;
	}

	.selection {
		font-size: 6rem;
		padding: 0 2.5rem;
	}
	.results {
		font-size: 1.75rem;
	}
}

@media (min-width: 768px) {
	body {
		line-height: 1.5;
	}

	h1.center-class {
		display: flex;
	}

	h1 {
		font-size: 1.5rem;
	}

	#select {
		font-size: 1.9rem;
	}
	#reset {
		font-size: 1.75rem;
		padding: 0.25em;
	}

	#resetDiv {
		margin: 1.5rem;
	}

	.selection {
		font-size: 7rem;
		padding: 0 3.25rem;
	}

	.results {
		font-size: 2rem;
	}
	.score {
		font-size: 2rem;
	}
}

body.dark-theme {
	color: #eee;
	background: #121212;
}

.white {
	color: white;
}
